
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2>THÔNG TIN SINH VIÊN DỰ THI</h2>
<br />
<table>
    <tr>
        <td>Mã sinh viên: </td>
        <td>63132946</td>
    </tr>
    <tr>
        <td>Họ tên: </td>
        <td>Võ Đại Hiệp</td>
    </tr>
    <tr>
        <td>Ngày thi: </td>
        <td>23/11/2023</td>
    </tr>
    <tr>
        <td>Học phần: </td>
        <td>Phát triển ứng dụng Web</td>
    </tr>

</table>
<br />

<div>
    @Html.ActionLink("Về trang Tìm Kiếm", "TimKiem_63132946")
</div>