
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<h2>THÔNG TIN SINH VIÊN</h2><br />
<table>
    <tr>
        <td>Mã sinh viên</td>
        <td>[Mã sinh viên dự kiểm tra]</td>
    </tr>
    <tr>
        <td>Họ tên</td>
        <td>[Họ tên sinh viên kiểm tra]</td>
    </tr>
    <tr>
        <td>Lớp</td>
        <td>...</td>
    </tr>
    <tr>
        <td>Ngày kiểm tra</td>
        <td>...</td>
    </tr>

</table>
<br />
