
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<html>
<head>
    <style>
        body #pictures-banner {
            text-align: center;
        }

        body img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div id="pictures-banner">
        <img src="~/Images/banner1.jpg">
        <img src="~/Images/banner7.png">
        <img src="~/Images/banner8.jpg">
        <img src="~/Images/banner9.jpg">
        <img src="~/Images/banner2.jpg">
    </div>
</body>
</html>
