
@{
    ViewBag.Title = "Tin Tức";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<html>
<head>
    <style>
        body #pictures-banner {
            text-align: center;
        }

        body img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div id="pictures-banner">
        <img src="~/Images/banner3.png">
        <img src="~/Images/banner4.png">
        <img src="~/Images/banner5.png">
        <img src="~/Images/banner6.png">
        <img src="~/Images/banner10.png">
    </div>
</body>
</html>

